.topbar{
    display: flex;
    border-bottom: 1px solid #E4E8F0;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.topbar__logo{
  padding-right: 20px;
}

.topbar__left{
    display: flex;
    align-items: center;
    flex: 1;
}

.topbar__items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 16px;
}

.topbar__item{
    margin: 16px;
    display: flex;
    color:#99A1AB;
    cursor: pointer;  
}

.topbar__item:active{
    color: #ff4081;   
}

.topbar__item:hover{
    color: #e78eac; 
}

.topbar__buttons{
    display: flex;
    align-items: center;
}






.button__currency{
  border: 0px;
  background-color: white;
  height: 70px;
}

.button__wrapper{
  border-left: 1px solid #E4E8F0;
  border-right: 1px solid #E4E8F0;
}

.button__currency:hover{
   background-color:#ebeced;
}


.button__signin{
    margin-left: 10px;
    margin-right: 10px;
}