.miniOffer{
    display: flex;
    align-items: center;
    width: 59%;
    border-radius: 10px;
   -webkit-box-shadow: 24px 19px 32px -31px rgba(66, 68, 90, 0.57);
   -moz-box-shadow: 24px 19px 32px -31px rgba(66, 68, 90, 0.57);
   box-shadow: 24px 19px 32px -31px rgba(66, 68, 90, 0.57);
}

.miniOffer__img{
    width:60px;

    padding: 10px 60px 10px 30px;
}

.miniOffer__desc{
    display: flex;
    flex: 3;
        flex-direction: column;
    align-items: flex-start;
}

.miniOffer__title{
    color: #6b6b6b ;
}

.miniOffer__details{
    display: flex;
    flex-direction: row;
}

.miniOffer__paragraph{
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    color: #a9a6a6;
}

.miniOffer__amount--wrapper{
display: flex;
flex:1 ;
}

.miniOffer__amount{
    padding: 10px 10px 10px 10px;
    font-weight: 500;
    color: rgb(30, 198, 108);
}
