.searchBar{
    margin-top: 3px;
    display: flex;
}

.searchBar__left{
    display: flex;
    align-items: center;
}

.searchBar__input{
    display: flex;
    align-items: center;
    border: 2px solid #f6f4f4 ;
    height: 30px;
    border-radius: 50px;
    background-color:#f6f4f4;
    text-align: center;
}

.searchBar__input:hover{
     border-color: rgb(232, 232, 232) ;
     background-color:rgb(232, 232, 232);

}


.searchBar__button{
    border: 2px solid #ebeced;
    width: 150px;
    padding: 5px, 5px, ;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.searchBar__button:hover{
    background-color:#ebeced;
}

.searchBar__right{
    display: flex;
    align-items: center;
}

.searchBar__icon{
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}

.searchBar__icon:hover{
   color: #ff4081;
}

.icon__text{
    font-size: 10px;
}



